<div class="container ">
    <div class="home-container">
        <div class="row justify-content-md-center home-card">
            <a routerLink="contract/contractTable/ACTIF" class="col-sm" style="width: 18rem;">
                <img
                    src=".\.\assets\home-page\contract.jpeg"
                    class="card-img-top home-card-image"
                    alt="contract"/>
                <div class="card-body">
                    <p class="card-text home-card-text">Gestion des contrats</p>
                </div>
            </a> 
            <a routerLink="tenant" class="col-sm" style="width: 18rem;">
                <img
                    src=".\.\assets\home-page\tenant.jpeg"
                    class="card-img-top home-card-image"
                    alt="tenant"/>
                <div class="card-body">
                    <p class="card-text home-card-text">Gestion des locataires</p>
                </div>
            </a>
        </div>
        <div class="row justify-content-md-center home-card">
            <a routerLink="properties" class="col-sm" style="width: 18rem;">
                <img
                    src=".\.\assets\home-page\receipt.jpg"
                    class="card-img-top home-card-image"
                    alt="contract"/>
                <div class="card-body">
                    <p class="card-text home-card-text">Gestion des quittances</p>
                </div>
            </a>
           
            <a routerLink="place/placeTable/ACTIF" class="col-sm" style="width: 18rem;">
                <img
                    src=".\.\assets\home-page\property.jpg"
                    class="card-img-top home-card-image"
                    alt="property"/>
                <div class="card-body">
                    <p class="card-text home-card-text">Gestion des biens</p>
                </div>
            </a>
        </div>
    </div>
</div>