<br>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Prénom</th>
        <th scope="col">Nom</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of users">
      <tr>
        <th scope="row">{{user.id}}</th>
        <td>{{user.firstName}}</td>
        <td>{{user.surname}}</td>
        <td>{{user.email}}</td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<div class="container">
  <div class="row justify-content-end">
  <div class="col-2"> <button (click)='btnClickTenantForm()'><i class="bi bi-plus-square-fill"></i> Ajouter un locataire</button> </div>
</div>
  </div>  
