<div class="container">
    <div class="formTitle">Ajouter un locataire</div>

<form [formGroup]="newMainTenantForm" (submit)="tenantFormSubmit()" > 

        <div class="form-group row form-row">
            <label class="col-sm-2 col-form-label">* Genre</label>
            <div class="col-sm-10">
                <select class="formSelect" id="gender" formControlName ="gender">
                    <option selected value="MR">MR</option>
                    <option value="MME">MME</option>
                    <option value="AUTRE">AUTRE</option>
                </select>
            </div>
        </div>

        <div class="form-group row form-row">
            <label class="formMandatoryLabel col-sm-2 col-form-label">* Nom</label>
            <div class="col-sm-10">
                <input [ngModel]="lastName" (ngModelChange)="$event?lastName = $event.toUpperCase():false"
                formControlName="lastName" 
                type="text"
                class="form-control"
                placeholder="DUPOND"/>
                <span class="formSpan" *ngIf="form['lastName'].errors || !form['lastName'].value"> {{isMandatory}}</span>
            </div>
        </div>
        <div class="form-group row form-row">
            <label class="col-sm-2 col-form-label">Prénom</label>
            <div class="col-sm-10">
                <input [ngModel]="firstName"  (ngModelChange)="$event?firstName = $event.toUpperCase():false"
                    formControlName="firstName" 
                    type="text"
                    class="form-control"
                    placeholder="PIERRE"/>
            </div>
        </div>

        <div class="form-group row form-row">
            <label class="formMandatoryLabel col-sm-2 col-form-label">* Email</label>
            <div class="col-sm-10">
                <input [ngModel]="email"  (ngModelChange)="$event?email = $event.toUpperCase():false"
                    formControlName="email"
                    type="email"
                    class="form-control"
                    placeholder="PIERRE.DUPOND@GMAIL.COM"/>
                    <span class="formSpan" *ngIf="!form['email'].value">{{isMandatory}}</span>
                    <br>
                    <span class="formSpan" *ngIf="form['email'].errors">{{isValidEmail}}</span>
            </div>
        </div>

        <div class="form-group row form-row">
            <label  class="col-sm-2 col-form-label">Numéro de téléphone</label>
            <div class="col-sm-10">
                <input ngModel [maxlength]="10"
                    formControlName="phoneNumber1"
                    type="text"
                    class="form-control"
                    placeholder="0600000000"/>
                <span class="formSpan" *ngIf="form['phoneNumber1'].errors">{{isValidPhone}}</span>
            </div>
        </div>
        
        <div class="form-group row form-row">
            <label  class="col-sm-2 col-form-label">Numéro de sécurité sociale</label>
            <div class="col-sm-10">
                <input formControlName="social"
                    type="text"
                    class="form-control"
                    placeholder="284062901501585" [maxlength]="15"/>
                    <span class="formSpan"  *ngIf="form['social'].errors">{{isValidSocialNumber}}</span>
            </div>
        </div>

        <div class="form-group row form-row">
            <label class="col-sm-2 col-form-label">Date de naissance</label>
            <div class="col-sm-10">
                    <input class="formDate" type="date" formControlName="dob">
            </div>
        </div>
        <br>
        
    <br>
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-dark col-sm-2 form-validate-button" 
            [disabled]=!formStatusValue>Valider</button>
        </div>
      
    </form> 
    </div>

    