<div class="formDetailsTitle">Contrats</div>

<div class="container">
    <div class="row justify-content-between">
        <div class="col-2">
            <button
                class="btnAdd"
                (click)='btnClickActivateForm()'
                mat-flat-button="mat-flat-button"
                color="accent">
                <i class="bi bi-plus-square-fill"></i>
                Ajouter un contrat
            </button>
        </div>
    </div>
    <br/>

    <!-- Contract form component -->

    <div class="mainTenantForms" *ngIf="activateEditForm">
        <div class="btnClose row justify-content-end">
            <button type="button" class="btn-close" aria-label="Close" (click)="btnClose()"></button>

        </div>
        <form [formGroup]="newContractForm" (submit)="contractFormSubmit()">
            <div class="row">
                <div class="col-6">
                    <div class="form-group row form-row" *ngIf="false">
                        <label class="col-sm-4 col-form-label">Id</label>
                        <div class="col-sm-8">
                            <input formControlName="id" type="text" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group row form-row">
                        <label class="col-sm-4 col-form-label formMandatoryLabel">* Date de début</label>
                        <div class="col-sm-8">
                            <input formControlName="startDate" type="date" class="form-control"/>
                            <span class="formSpan" *ngIf="!form['startDate'].value">
                                {{isMandatory}}
                            </span>
                        </div>
                    </div>
                    <div class="form-group row form-row">
                        <label class="col-sm-4 col-form-label">Date de fin</label>
                        <div class="col-sm-8">
                            <input formControlName="endDate" type="date" class="form-control"/>
                        </div>
                    </div>
                    <!-- Not editable if id = null -->
                    <div class="form-group row form-row">
                        <label class="col-sm-4 col-form-label formMandatoryLabel">* Montant initial</label>
                        <div class="col-sm-8 row">
                            <div class="col-sm-5">
                                <input [readonly]="form['id'].value" formControlName="initialAmount" type="text" class="form-control"/>
                            </div>
                            <div class="col-sm-2">€ /
                            </div>
                            <div class="col-sm-5" >
                                <select *ngIf="!form['id'].value" class="form-control" formControlName="initialDurationType">
                                    <option 
                                        *ngFor="let initialDurationType of initialDurationTypes"
                                        [ngValue]="initialDurationType.id">{{initialDurationType.name}}</option>
                                </select>
                                <input [hidden]="!form['id'].value" [readonly]="form['id'].value" formControlName="initialDurationType" type="text" class="form-control"/>
                            </div>
                            <span
                                class="formSpan"
                                *ngIf="!form['initialDurationType'].value || !form['initialAmount'].value ">
                                {{isMandatory}}
                            </span>
                        </div>

                    </div>

                </div>
                <div class="col-6">
                    <div class="form-group row form-row">
                        <label class="col-sm-4 col-form-label formMandatoryLabel">* Statut du contrat</label>
                        <div class="col-sm-8">
                            <select class="form-control" formControlName="commonStatus">
                                <option value="ACTIF">ACTIF</option>
                                <option value="INACTIF">INACTIF</option>
                            </select>
                        </div>
                        <span class="formSpan" *ngIf="!form['commonStatus'].value">
                            {{isMandatory}}
                        </span>
                    </div>
                    <div class="form-group row form-row">
                        <label class="col-sm-4 col-form-label formMandatoryLabel">* Type de contrat</label>
                        <div class="col-sm-8">
                            <select class="form-control" formControlName="contractType">
                                <option *ngFor="let contractType of contractTypes" [ngValue]="contractType.id">{{contractType.name}}</option>
                            </select>
                            <span class="formSpan" *ngIf="!form['contractType'].value">
                                {{isMandatory}}
                            </span>
                        </div>
                    </div>
                    <div class="form-group row form-row">
                        <label class="col-sm-4 col-form-label formMandatoryLabel">* Type de paiement</label>
                        <div class="col-sm-8">
                            <select class="form-control" formControlName="scheduledPaymentType">
                                <option
                                    *ngFor="let scheduledPaymentType of scheduledPaymentTypes"
                                    [ngValue]="scheduledPaymentType.id">{{scheduledPaymentType.name}}</option>
                            </select>
                            <span class="formSpan" *ngIf="!form['scheduledPaymentType'].value">
                                {{isMandatory}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row justify-content-center">
                <button
                    [disabled]="!formStatusValue"
                    type="submit"
                    class="btn btn-dark col-sm-2 form-validate-button form-button">Valider</button>
            </div>
        </form>
    </div>

    <br/>

    <!-- Table component -->

    <div class="row justify-content-end">
        <mat-form-field appearance="legacy" class="col-3">
            <mat-label style="color: grey;">Filtrer</mat-label>
            <input
                class="form-control"
                matInput="matInput"
                (keyup)="applyFilter($event)"
                placeholder="Ex. Logement"
                #input/>
        </mat-form-field>

    </div>

    <div class="mat-elevation-z8">
        <table mat-table="mat-table" [dataSource]="dataSource">

            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell="mat-header-cell" *matHeaderCellDef>
                    ID
                </th>
                <td mat-cell="mat-cell" *matCellDef="let dataSource">
                    {{dataSource.id}}
                </td>
            </ng-container>

            <!-- Start Date Column -->
            <ng-container matColumnDef="startDate">
                <th mat-header-cell="mat-header-cell" *matHeaderCellDef>
                    Date de début
                </th>
                <td mat-cell="mat-cell" *matCellDef="let dataSource">
                    {{dataSource.startDate| date:'longDate'}}
                </td>
            </ng-container>

            <!-- End Date Column -->
            <ng-container matColumnDef="endDate">
                <th mat-header-cell="mat-header-cell" *matHeaderCellDef>
                    Date de fin
                </th>
                <td mat-cell="mat-cell" *matCellDef="let dataSource">
                    {{dataSource.endDate| date:'longDate'}}
                </td>
            </ng-container>

            <!-- Contract Type Column -->
            <ng-container matColumnDef="contractType">
                <th mat-header-cell="mat-header-cell" *matHeaderCellDef>
                    Type de contrat
                </th>
                <td mat-cell="mat-cell" *matCellDef="let dataSource">
                    {{dataSource.contractType}}
                </td>
            </ng-container>

            <!-- Contract Status Column -->
            <ng-container matColumnDef="commonStatus">
                <th mat-header-cell="mat-header-cell" *matHeaderCellDef>
                    Statut du contrat
                </th>
                <td mat-cell="mat-cell" *matCellDef="let dataSource">
                    {{dataSource.commonStatus}}
                </td>
            </ng-container>

            <!-- See Column -->
            <ng-container matColumnDef="details">
                <th mat-header-cell="mat-header-cell" *matHeaderCellDef>
                    Détails
                </th>
                <td mat-cell="mat-cell" *matCellDef="let dataSource">
                    <button
                        class="btnTenantGrid"
                        mat-mini-fab="mat-mini-fab"
                        color="primary"
                        aria-label="see"
                        (click)="btnSeeContractDetail(dataSource)">
                        <mat-icon>
                            <span class="material-icons">visibility</span>
                        </mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- Delete Column -->
            <ng-container matColumnDef="delete">
                <th mat-header-cell="mat-header-cell" *matHeaderCellDef>
                    Supprimer
                </th>
                <td mat-cell="mat-cell" *matCellDef="let dataSource">
                    <button
                        class="btnTenantGrid"
                        mat-mini-fab="mat-mini-fab"
                        color="primary"
                        aria-label="delete"
                        (click)="btnDeleteContract(dataSource.id)">
                        <mat-icon>
                            <span class="material-icons">delete_forever</span>
                        </mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row="mat-header-row" *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row="mat-row" *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">Aucune donnée trouvée pour "{{input.value}}"</td>
            </tr>

        </table>
    </div>
</div>